/* fonts & heading */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@1,300&display=swap');  

html{
    font-size: 62.5%;
}
h1,h2,h3{
    font-family: 'Bebas Neue', cursive;
    color:rgb(12, 9, 10); 
    margin: 10px 0;
}
h1{
    font-size: 4rem
}

h2{
    font-size: 3rem
}

h3{
    font-size: 2rem
}

*{
    padding: 0;
    margin: 0;
}

/* selectores de etiquetas */

#cuerpo{
    background-image: url(../img/depositphotos_517281962-stock-video-animation-of-spots-of-lights.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
      
}
#botonera{
     background-color: rgba(127, 255, 212, .6) ;
     
}
#botonera a{
    margin-right: 10px;
    margin-top: 0;
    padding:10px 10px;
    box-sizing: border-box ;  
}    

#botonera ul li{
    
    list-style: none; 
    display:inline-block;
    margin-right: 10px;
    margin-top: 0px;    
    box-sizing: border-box;
}

#botonera ul li a{
   
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-size:2rem;
    color: rgb(12, 9, 10); 
}  

#botonera ul li a:hover{
    color: black;
    font-weight: 600;
}

/* selectores de etiquetas */

#selector1 div{
    width: 100%;
    height: auto;
    overflow: 0;
    margin: auto;
    padding: 30px 10px;
    box-sizing: border-box;
}

#selector1 div p{
    width: 100%;
    height: auto;
    overflow: 0;
    margin: 30px 10px;
    padding: 30px 10px; 
    box-sizing: border-box;
} 

#selector1 div p{
    font-family: 'Roboto', sans-serif;
    font-weight:400 ;
    font-size: 2rem;
    line-height: 2.2rem;
    color: rgb(36, 34, 35)
}

#pie p{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size:2rem;
    color: rgb(12, 9, 10); 
}  

#pie a{ 
    width: 10px;
    height: 10px;  
    padding: 30px;
}

#pie a img{
    width: 50px; 
    font-display:inline-block;  
}

/* selectores de clases */

.text-center{
    text-align: center;
}

.text-rigth{
    text-align: right;
}

.text-left{
    text-align: left;
}

/* first letter */
p:first-letter{
    color: rgb(78, 12, 12);
    font-size: 3rem;
    font-weight: 600;
    margin-right: 2px;

}
