//definimos variables


//colores
$mainColor:rgba(127, 255, 212, .6);
$secondaryColor: url(../img/depositphotos_517281962-stock-video-animation-of-spots-of-lights.jpg);
$cuartoColor:rgb(66, 11, 38);
$quintoColor:rgb(181, 204, 52);

//sizing
$w-100:100%;
$w-50:50%;
$w-25:25%;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@1,300&display=swap");



$fontMain: 'Bebas Neue', cursive;
$fontSecondary: 'Roboto', sans-serif;

//variables para los textos
    $textXl:4rem;
    $textLg:3rem;
    $textMd:2rem; 
    $textSm:1rem;       

// mapa
$paleta:(
   'uno':rgb(12, 9, 10),
   'dos': rgb(36, 34, 35),);
  



.bg-negro{
    background-color: map-get($map: $paleta, $key:'uno');
}

.bg-gris{
    background-color: map-get($map: $paleta, $key:'dos');
}



